<p style="color: green"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div id="pins" class="list-group">
      <% @pins.each do |pin| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <img src="<%= pin.image.url(:thumb) %>" alt="<%= pin.description %>" class="img-thumbnail">
            </div>
            <div class="col-md-10">
              <%= render pin %>
              <p>
                <%= link_to "Show this pin", pin, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to "New pin", new_pin_path, class: "btn btn-primary" %>
  </div>
</div>
