<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to "Pinterested", root_path, class: "navbar-brand text-secondary" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link text-secondary' %></li>
        <li class="nav-item"><%= link_to 'About Me', home_about_path, class: 'nav-link text-secondary' %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Add Pin", new_pin_path, class: 'nav-link text-secondary' %></li>
          <li class="nav-item"><%= link_to "List Pins", pins_path, class: 'nav-link text-secondary' %></li>
          <li class="nav-item d-flex align-items-center">
            <%= form_with url: destroy_user_session_path, method: :delete, class: "d-inline" do %>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link text-secondary btn-link p-0 align-self-center', form: { "data-turbo": "false" }, style: "margin-bottom: 2px;" %>
            <% end %>
          </li>
          <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: 'nav-link text-secondary' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link text-secondary' %></li>
          <li class="nav-item"><%= link_to 'Join', new_user_registration_path, class: 'nav-link text-secondary' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
